# Virtual environment
.venv/
venv/
ENV/
env.bak/
env/

# Python specific
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/